<nav>
    {{nav-bar}}
</nav>
<div class="container">
{{tag-line}}
{{about-me}}
    {{about-me}}
    {{about-me}}
    {{about-me}}
    {{about-me}}
    {{about-me}}
    {{about-me}}
    {{about-me}}
    {{about-me}}

    {{contact-me}}
</div>
<footer>
foot stuff
</footer>